* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

:root {
    font-size: 100%;
    --fonte-padrao: verdana, arial;
    --cor-fonte-cabecalho: white;
    --cor-fonte-corpo: black;
}

.flex {
    display: flex;
    align-content: center; /*alinhamento para que o formulário fique centralizado*/
    flex-direction: column; /*o botão enviar fica abaixo do formulário ao invés do lado*/
    flex-wrap: wrap;
}

header {
    width: 100%;
    height: 160px;
    background: linear-gradient(to right, #3D5AFE, #2196F3 );
    position: relative;
    text-align: center; /*centraliza o texto do título e subtítulo*/
}

div#titulo {
    width: 100%;
    height: auto;
    color: var(--cor-fonte-cabecalho);
    margin-top: 50px; /*distância do topo até o título*/
}

div#icone {   
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -40px; /*distância negativa para que o ícone fique abaixo do header*/
}

.material-icons{
    font-size: 60px; /*ajusta o tamanho do ícone*/
    background-color: white;
    border-radius: 100%; /*background com borda arredondada*/
    padding: 15px;
    color: #2196f3; /*define a cor do ícone*/
}

main {
    width: 30%; /*define o tamanho que o conteúdo irá ocupar na tela*/
    height: auto;
    margin: 0 auto; /*centraliza o conteúdo no centro da página*/
}

section {
    border: 1px solid black;
    margin: 50px auto; /*distância do formulário com o header*/
    padding: 5px 5px 40px 5px; /*distância da borda com os dados do formulário*/
}

fieldset {
    width: 100%;
    border: none; /*remoção da borda ao redor do formulário*/
}

form {
    width: 80%;
    height: auto;
    padding: 5px;
    font-size: 1rem; /*define o tamanho da fonte com referência ao root*/
}

label {
    display: block; /*formata o label para que fique em cima do input*/
    width: 100%;
    padding-top: 3px; /*distância de um label para o outro na parte superior*/
}

.txt {
    width: 100%;
    height: 30px; /*define altura do campo de entrada de dados*/
}

#buscar { 
    width: 100%; /*tamanho do botão buscar*/
    margin-top: 5px; /*distância da margem superior com o botão*/
    text-align: center; /*centraliza a escrita do botão*/
    font-size: 0.8rem; /*tamanho da fonte*/
    background-color: #2196f3; /*cor do botão*/
    box-shadow: 0 3px #0d47a1; /*cor sombra do botão*/
    border: none; /*remove a borda do botão*/
    border-radius: 5px; /*borda levemente arredondada*/
    color: var(--cor-fonte-cabecalho); /*cor de texto: branco*/
    padding: 5px;
    height: 35px; /*altura do botão*/
    cursor: pointer; /*altera a forma do ponteiro do mouse*/
}